
 @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.indexback{
    background-image: url(house.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 650px;
    width: 100%;
}
.indexback h1{
    position: relative;
    color: #fff;
    text-align: center;
    top: 45%;
    font-size: 25pt;
}
/*Corpo do about*/
.about p{
    text-align: center;
    font-size: 14pt;
}
.about{
    background-color: rgb(204, 204, 204);
    padding: 10% 0 10% 0;
}
.about input{
    display: block;
    margin: auto;
    margin-top: 3%;
    background-color: rgb(204, 204, 204);
    height: 30px;
    width: 40%;
    border: 1px solid black;
    font-size: 8pt;
    cursor: pointer;
    transition: 0.5s;
}
.about input:hover{
    border: 1px solid grey;
    color: gray;
}
/*Services*/
.services img{
    width: 100%;
    display: block;
    margin: 5% auto 0 auto;
    transition: 0.5s;
}
.services img:hover{
    filter: brightness(80%);
}
.services{
    padding: 10% 0 10% 0;
}
.services > div > div{
    width: 97%;
    margin: auto;
}
.services h2{
    font-size: 9pt;
    font-family: 'Roboto', sans-serif;
    margin-left: 2%;
}
.services h3{
    font-size: 17pt;
    font-weight: 500;
    margin-top: 5%;
}
.services p{
    margin-top: 8%;
    font-family: 'Roboto', sans-serif;
}
.services a{
    color: black;
    font-size: 8pt;
    font-weight: 900;
    transition: 0.5s;
}
.services a:hover{
    color: gray;
}
/*Project*/
.project img{
    width: 100%;
    display: block;
    margin: auto;
}
.project{
    background-color: rgb(36, 36, 36);
    padding: 10% 0 10% 0;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
.project > div > div{
    width: 97%;
    margin: auto;
}
.project h2{
    font-size: 8pt;
    margin-top: 5%;
}
.project h3{
    margin-top: 5%;
}
.project p{
    margin-top: 5%;
    font-size: 10pt;
}
.project input{
    display: block;
    margin: auto;
    margin-top: 5%;
    background-color: rgb(36, 36, 36);
    height: 30px;
    width: 40%;
    color: #fff;
    border: 1px solid rgb(255, 255, 255);
    font-size: 8pt;
    cursor: pointer;
    transition: 0.5s;
}
.project input:hover{
    border: 1px solid grey;
    color: gray;
}
/*Culture*/
.culture{
    padding: 10% 0 10% 0;
    font-family: 'Roboto', sans-serif;
}
.culture img{
    display: block;
    width: 100%;
    margin-top: 10%;
}
.culture > div{
    width: 97%;
    margin: auto;
}
.culture h2{
    font-size: 10pt;
}
.culture p{
    margin-top: 7%;
    font-size: 10pt;
}
.culture h3{
    font-size: 10pt;
    margin-top: 5%;
}
.culture a{
    color: black;
    font-size: 8pt;
    font-weight: 900;
    transition: 0.5s;
    margin-top: 7%;
}
.culture a:hover{
    color: gray;
}
/*Frase*/
.frase{
    background-image: url(housebeach.jpg);
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding: 10% 0 10% 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
}
.frase div{
    width: 95%;
    margin: auto;
}
.frase aside{
    margin-top: 2%;
}
.frase p{
    background-color: rgba(128, 128, 128, 0.425);
    border-radius: 10px;
    padding: 2% 0 2% 0;
}
footer{
    background-color: black;
    padding: 2% 0 2% 0;
    color: #fff;
    font-size: 10pt;
    font-family: 'Roboto', sans-serif;
}
/*Para pc*/
@media screen and (min-width: 768px) {
    .about p{
        text-align: center;
        font-size: 20pt;
        width: 60%;
        margin: auto;
    }
    .about input{
        width: 10%;
    }
    .container-services{
        display: flex;
    }
    .services img{
        width: 100%;
    }
    .services{
        padding-top: 5%;
    }
    .services > div > div{
        width: 24%;
    }
    .services h2{
        margin-left: 6px;
    }
    .container-project{
        display: flex;
    }
    .project > div > div{
        margin-left: 4%;
    }
    .project input{
        width: 20%;
    }
    .container-culture{
        display: flex;
    }
    .culture{
        padding-top: 5%;
    }
    .culture > div > div > div{
        width: 30%;
        margin-left: 4%;
        margin-right: 4%;
    }
    .culture h2{
        margin-left: 4%;
    }
    .culture > div > p{
        width: 40%;
        margin-left: 4%;
        margin-top: 3%;
    }
    .frase p{
        width: 50%;
        margin: auto;
        font-size: 25pt;
    }
    .frase aside{
        background-color: rgba(128, 128, 128, 0.425);
        border-radius: 10px;
        width: 40%;
        margin: auto;
    }
    .frase{
        background-image: url(house.jpg);
    }
    footer{
        line-height: 150%;
        text-align: center;
    }
}